$black: #000;
$dark-gray: #747373;
$med-gray: #A5A4A4;
$gray: #D9D9D9;
$light-gray: #F5F5F5;
$white: #FFF;

@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$heading-font: 'Urbanist',sans-serif;
$body-font: 'Bariol','Nunito';

h1 {
    font-family: $heading-font;
    font-size: 54pt;
}
header {
    background-color: $black;
    width: 100vw;
    height: 130px;
}